puntos-estrategicos {
  .fondoCategoria {
      background-color: #f0f0f0;
    }
  
  .botonTodos {
    width: 150%;
  }

  .opciones {
    padding: 5px;
  }

  .margen {
    margin-right: 40%;
  }

  .opcionesPuntos {
    width: 20%;
  }
}